<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SenpaiSearch API{% endblock %}</title>
</head>
<body>
     <!-- Cabeçalho com Navegação -->
     <header>
        <nav>
            <a href="/">Home</a> |
            <a href="/login">Login</a> |
            <a href="/signup">Cadastro</a>
        </nav>
    </header>
    <!-- Conteúdo específico de cada página -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2024 SenpaiSearch</p>
    </footer>
</body>
</html>